.formContainer{
    margin:1em;
}

.formContentContainer{
    padding:1em;
}

.formContentContainer>*{
    width: 100%;
}

.loaderContainer{
    position: relative;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid orange;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }