<div class="container-fluid">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row formContainer justify-content-around">
      <div class="formContentContainer col-7">
        <div *ngIf="openValue; else selectTemplate">
        <input type="text" name="filterValue" ngModel class="form-control"  placeholder="Enter a name"/>
        </div>
        <ng-template #selectTemplate>
          <div *ngIf="!loading; else loaderTemplate">
            <select class="form-control" name="filterValue" ngModel>
                <option *ngFor="let val of selectValue" [value]="val">{{val}}</option>
            </select>
          </div>
        </ng-template>
        <ng-template #loaderTemplate>
          <div class="loaderContainer">
            <div class="loader"></div>
          </div>
        </ng-template>
      </div>
      <div class="formContentContainer col-3">
        <select class="form-control" name="filter" ngModel
        #filterSelect
        (change)='onOptionsSelected(filterSelect.value)'>
          <option selected disabled value="">Choose a filter...</option>
          <option value="name">Card</option>
          <option value="types">Type</option>
          <option value="subtypes">SubType</option>
          <option value="supertypes">SuperType</option>
        </select>
      </div>
      <div class="col-2 formContentContainer">
      <button class="btn btn-success" type="submit">Get Cards!</button>
      </div>
    </div>
  </form>
</div>