<div class="centerContent">
  <button class="btn btn-primary btn-lg m-2" [disabled]=!edition (click)="switchEditDescription()">Description</button>
  <button class="btn btn-primary btn-lg m-2" [disabled]=edition (click)="switchEditDescription()">Edit</button>
</div>
<div class="listCards">
  <div *ngFor="let card of cards">
      <card [card]=card [edit]=edition (deck)="addToDeck($event)"></card>
  </div>
</div>
