<div class="container">
  <div class="row justify-content-around">
    <div class="col-4 align-self-center row">
      <button class="btn btn-info btn-lg col-12" *ngIf="previous" (click) ="previousPage()">Précédent</button>
    </div>
      <p class="col-4 align-self-center pageText"><strong>page: {{page}}/{{totalPage}}</strong></p>
      <button class="btn btn-info btn-lg col-4 align-self-center" (click) ="nextPage()">Suivant</button>
  </div>
</div>