<h1 mat-dialog-title>Name: {{data.card.name}}</h1>
<h2 mat-dialog-title>Edition: {{data.card.setName}}</h2>
<div mat-dialog-content class="container">
  <div class="m-3" style="display: flex;">
    <img class="keepImageRatio" [src]="data.card.imageUrl" (click)="openDialog()"/>
    <div class="description">
      <p>{{data.card.text}}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions class="closeButtonContainer">
  <button class="btn btn-info btn-lg closeButton" [mat-dialog-close]="data.card" mat-button cdkFocusInitial>Close</button>
</div>