<div *ngIf="!isLoading; else elseTemplate">
  <CardSelectorForm (formSending)="search($event)"></CardSelectorForm>
  <div class="centerDeckContainer">
    <div class="deckInformationContainer">
      <img class="deckIcon" src="../../assets/bcore.svg" routerLink="/deck">
      <div class="cardInDeck">{{deck.length}}</div>
    </div>
  </div>
  <cardLayout [cards]=cards.cards (deck)="addToDeck($event)"></cardLayout>
  <navigationButton [page]="page" (prev)="navigateToPrev()" (next)="navigateToNext()" [previous]="previous"></navigationButton>
</div>
<ng-template #elseTemplate>
  <div class="loader"></div>
</ng-template>