.deckIcon{
  width:80px;
}

.cardInDeck{
  position: absolute;
  bottom: 5px;
  left:5px;
  border-radius: 50px;
  color: white;
  background-color: red;
  width:30px;
  height:30px;
  text-align: center;
  vertical-align: center;
}

.centerDeckContainer{
  display: flex;
  justify-content: center;
}

.deckInformationContainer{
  position: relative;
  margin:20px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid orange;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }



  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }